body {
  background-color: #000000;
  color: #ffffff;
  margin:0;
  padding-top:100px;
  height:100%;
  font-family:Verdana;
  font-size:15px;
  padding:5px;
}
#header{
  position: fixed;
  z-index:5
  background: #000317;
  height: 70px;
  border-bottom: 1px solid #ffffff;
}
h1, h2 {
  font-family:"Times New Roman";
}
#overlay {
  position: absolute;
  z-index:-1;
  color:#000000;
}
