body {
  background-color: #000000;
  color: #ffffff;
  height:100%;
  margin:0px;
  font-size:15px;
}
header{
  position: fixed;
  z-index:5;
  padding-top:15px;
  background-color: #000317;
  width: 2000px;
  border-bottom: 1px solid #011170;
}
.main {
  padding-top:120px;
}
h1, h2 {
  font-family:"Times New Roman";
  margin:15px;
  padding:5px;
}
p {
  margin:15px;
  font-family:"Verdana";
  padding:5px;
}
#annus {
  position: absolute;
  z-index:-1;
  color:#000000;
  font-family:"Courier New";
}
#unus {
  position: absolute;
  z-index:-2;
  color:#000000;
  font-family:cursive;
}
header ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
header li {
  display:inline;
  float: left;
  border-right: 1px solid #011170;
}
header a {
  display: block;
  padding: 8px;
  background-color: #000317;
  text-decoration:none;
  color:#ffffff;

}
header li a:hover {
  background-color: #000629;
}
header li.active {
  background-color: #000000;
}
