body {
  background-color: #000000;
  color: #ffffff;
  margin:25;
  padding-top:200px;
  height:100%;
  font-family:"Verdana";
  font-size:15px;
  padding:25px;
}
#header{
  position: fixed;
  z-index:5;
  padding: 0px;
  background-color: #000317;
  height: 70px;
  width: 300px;
  border-bottom: 1px solid #ffffff;
}
h1, h2 {
  font-family:"Times New Roman";
}
#overlay {
  position: absolute;
  z-index:-1;
  color:#000000;
}
