html, body {
  margin:0;
  padding-top:25px;
  height:100%;
  font-family:Verdana;
  font-size:15px;
  padding:1px;
}
#header{
  background-color: #ffffff;
  height: 70px;
  border-bottom: 1px solid #000000;
}
h1, h3 {
  font-family:"Times New Roman";
}
