body {
  background-color: #000000;
  color: #ffffff;
  height:100%;
  margin:0px;
  font-family:"Verdana";
  font-size:15px;
}
#header{
  position: fixed;
  z-index:5;
  background-color: #000317;
  height: 70px;
  width: 1000px;
  border-bottom: 1px solid #ffffff;
}
h1, h2 {
  font-family:"Times New Roman";
}
#overlay {
  position: absolute;
  z-index:-1;
  color:#000000;
}
